version: 2
jobs:
  build_and_test:
    docker:
      - image: circleci/node:10.18.1
    steps:
      - checkout
      - run:
          name: update-npm
          command:
             echo "Hello World"

workflows:
  version: 2

  pr-check:
    jobs:
    - build_and_test

  build_deploy:
    jobs:
      - build_and_test:
          filters:
            branches:
              only:
                - master